POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_PORT=9000
MINIO_USE_SSL=false

# MINIO_ENDPOINT should be "localhost" for local dev (when you use npm run dev), and "minio" for when the entire app is run on a docker container 


NODE_ENV=production
NEXT_PUBLIC_HEALTH_POLL_MS=0
PORT=
DATABASE_URL=

NEXT_PUBLIC_INVENTORY_REQUEST_URL=

OKTA_CLIENT_ID=""
OKTA_CLIENT_SECRET=""
OKTA_DISCOVERY_URL=""
OKTA_REDIRECT_URI=""

BETTER_AUTH_BASE_URL=""
# openssl rand -base64 32
BETTER_AUTH_SECRET=""

SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE=""
FROM_NAME=""
FROM_EMAIL=""